<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>数据编辑页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
<div class="x-body" id="app">
    <form class="layui-form">
 <div v-if="MaintenDto">
        <div class="layui-form-item">
            <label for="mainId" class="layui-form-label">
                <span class="text-color-red">*</span>
                申请编号
            </label>
            <div class="layui-input-inline">
                <input type="text"  readonly="readonly" id="mainId" name="mainId" v-model="MaintenDto.mainId"  autocomplete="off" required="" lay-verify="required"  class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                该内容暂不允许编辑
            </div>
        </div>


        <div class="layui-form-item">
            <label for="labId" class="layui-form-label">
                <span class="text-color-red">*</span>
                实验室编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="labId" name="labId"  readonly="readonly" v-model="MaintenDto.labId" required="" autocomplete="off" lay-verify="required"  class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                该内容暂不允许编辑
            </div>
        </div>

        <div class="layui-form-item">
            <label for="personId" class="layui-form-label">
                <span class="text-color-red">*</span>
                报修人编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="personId" name="personId" v-model="MaintenDto.personId" readonly="readonly"  required="" autocomplete="off" lay-verify="required"  class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                该内容暂不允许编辑
            </div>
        </div>


        <div class="layui-form-item">
            <label for="personName" class="layui-form-label">
                <span class="text-color-red">*</span>
                报修人姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="personName" name="personName" v-model="MaintenDto.personName"  readonly="readonly" required="" autocomplete="off" lay-verify="required"  class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                该内容暂不允许编辑
            </div>
        </div>

        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="text-color-red">*</span>
                设备编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="equId" name="equId" v-model="MaintenDto.equId"   required="" autocomplete="off" lay-verify="required"  class="layui-input">
            </div>
        </div>


     <div class="layui-form-item">
         <label for="equName" class="layui-form-label">
             <span class="text-color-red">*</span>
             设备名称
         </label>
         <div class="layui-input-inline">
             <input type="text" id="equName" name="equName" v-model="MaintenDto.equName"  required="" autocomplete="off" lay-verify="required"  class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="equtype" class="layui-form-label">
             <span class="text-color-red">*</span>
             设备型号
         </label>
         <div class="layui-input-inline">
             <input type="text" id="equtype"name="equtype" v-model="MaintenDto.equtype" required="" autocomplete="off" lay-verify="required"  class="layui-input">
         </div>
     </div>


     <div class="layui-form-item">
         <label for="description" class="layui-form-label">
             <span class="text-color-red">*</span>
             故障现象描述
         </label>
         <div class="layui-input-inline">
                <textarea style="width:350px;height:200px;" id="description" name="description"
                          v-model="MaintenDto.description" required="" lay-verify="required" autocomplete="off" ></textarea>
         </div>
     </div>

     <div class="layui-form-item">
         <label for="reportDate" class="layui-form-label">
             <span class="text-color-red">*</span>
             报修时间
         </label>
         <div class="layui-input-inline">
             <input type="text" id="reportDate" name="reportDate" v-model="MaintenDto.reportDate"  readonly="readonly" required="" autocomplete="off" lay-verify="required"  class="layui-input">
         </div>
         <div class="layui-form-mid layui-word-aux">
             该内容暂不允许编辑
         </div>
     </div>



        <div class="layui-form-item">
            <label class="layui-form-label">
                <!-- placeholder -->
            </label>
            <button type="button" class="layui-btn" lay-filter="update" v-on:click="updateMainten">确认修改</button>
            <button type="button" class="layui-btn layui-btn-danger" v-on:click="close" >取消</button>
        </div>
 </div>
    </form>
</div>



<script type="text/javascript" src="/js/libs/jquery.min.js">
</script>
<script type="text/javascript" src="/js/libs/layui/layui.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue.js">
</script>
<script type="text/javascript" src="/js/main.js">
</script>
<script type="text/javascript" src="/js/utils.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>

<script>
    var G = {
    }
    var APP = new Vue({
		el: "#app",

		data: {
            MaintenDto: {
                mainId:"",
                labId: "",
                personId: "",
                personName: "",
                equId: "",
                equName: "",
                equtype: "",
                description: "",
                reportDate: "",
            },
            contents:""
		},
        created: function () {
            this.getMaintenById();
        },
        methods: {
            getMaintenById: function () {
                var Id = location.hash.substring(1) // 去掉 #
                //发送 get 请求
                this.$http.get('/maintenance/queryMaintenById',{params:{mainId:Id}},{emulateJSON:true}).then(function(result){
                    if(result.data.status==200){
                        this.MaintenDto=result.data.data;
                    }else {
                        messageError(result.data.message);
                    }
                },function(result){
                    messageError("服务器内部出错!");
                });

            },
            updateMainten: function () {
              /*  delete this.WordrecordDto.sysTime;
                if (this.WordrecordDto.workDates) {
                }else {
                    delete this.WordrecordDto.workDates;
                }*/
                //发送 post 请求
                this.$http.post('/maintenance/updateMainten',
                    this.MaintenDto,{emulateJSON:true}).then(function(result){
                    messageLoading();
                    if(result.data.status==200){
                        messageOk(result.data.message);
                        //关闭弹出层
                        x_admin_close("reRender");
                    }else {
                        messageError(result.data.message);
                    }
                },function(res){
                    messageError("服务器内部出错!请重试~");
                });


            },
            close: function () {
                //关闭弹出层
                x_admin_close("app");
            }

        }// methods end


    }); //end Vue

</script>

</body>

</html>
