<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加数据页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
<div class="x-body" id="app">
    <form  class="layui-form">
        <div class="layui-form-item">
        <label for="labId" class="layui-form-label">
            <span class="text-color-red">*</span>
            实验室编号
        </label>
        <div class="layui-input-inline">
            <input type="text" id="labId" name="labId" v-model="mDto.labId" readonly="readonly" required="" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
            <div class="layui-form-mid layui-word-aux">
            此项暂不能更改
        </div>
    </div>

        <div class="layui-form-item">
        <label for="personId" class="layui-form-label">
            <span class="text-color-red">*</span>
            助理编号
        </label>
        <div class="layui-input-inline">
            <input   type="text" id="personId" name="personId" v-model="mDto.personId"   readonly="readonly" required="" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            此项暂不能更改
        </div>
    </div>



        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="text-color-red">*</span>
                助理姓名
            </label>
            <div class="layui-input-inline">
                <input  type="text" id="personName" name="personName" v-model="mDto.personName"  readonly="readonly" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                此项暂不能更改
            </div>
        </div>


        <div class="layui-form-item">
            <label for="equId" class="layui-form-label">
                <span class="text-color-red">*</span>
                设备编号
            </label>
            <div class="layui-input-inline">
                <input   type="text" id="equId" name="equId" v-model="mDto.equId" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="equName" class="layui-form-label">
                <span class="text-color-red">*</span>
                设备名称
            </label>
            <div class="layui-input-inline">
                <input   type="text" id="equName" name="equName" v-model="mDto.equName" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="equtype" class="layui-form-label">
                <span class="text-color-red">*</span>
                设备型号
            </label>
            <div class="layui-input-inline">
                <input    type="text" id="equtype" name="equtype" v-model="mDto.equtype" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="description" class="layui-form-label">
                <span class="text-color-red">*</span>
                故障现象描述
            </label>
            <div class="layui-input-inline">
                <textarea style="width:350px;height:150px;" id="description" name="description"
                          v-model="mDto.description" required="" lay-verify="required"  ></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <label for="reportTime" class="layui-form-label">
                <span class="text-color-red">*</span>
                报修时间
            </label>
            <div class="layui-input-inline">
                <input type="date" id="reportTime" name="reportTime" v-model="mDto.reportTime" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                点击选框选择日期
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">
                <!-- placeholder -->
            </label>
            <button  type="button" class="layui-btn"  v-on:click="addMainten">确认新增</button>
            <button type="button" class="layui-btn layui-btn-danger " v-on:click="close" >取消</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/js/libs/jquery.min.js "></script>
<script type="text/javascript" src="/js/libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/libs/vue/vue.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>

<script>
    // 初始化 Vue 组件
    var APP = new Vue({
        el: '#app',
        // 数据
        data: {
            mDto: {
                labId: "",
                personId: "",
                personName: "",
                equId: "",
                equName: "",
                equtype: "",
                description: "",
                reportTime: "",
            },
            contents:""
        },
        created: function () {
            this.toAdd();
        },
        methods: {
            toAdd: function () {
                //发送 get 请求
                this.$http.get('/personInfo/toAddMain',{emulateJSON:true}).then(function(result){
                    if(result.data.status==200){
                        this.mDto=result.data.data;
                    }else {
                        messageError(result.data.message);
                    }
                },function(result){
                    messageError("服务器内部出错!");
                });

            },
            addMainten: function () {
                if(this.mDto.reportTime){
//发送 post 请求
                    this.$http.post('/maintenance/addMainten',
                        this.mDto
                        ,{
                            emulateJSON:true
                        }
                    ).then(function(result){
                        messageLoading();
                        if(result.data.status==200){
                            messageOk(result.data.message);
                            //关闭弹出层
                            x_admin_close("reRender");
                        }else {
                            messageError(result.data.message);
                        }
                    },function(res){
                        messageError("服务器内部出错!请重试~");
                    });
                }else{
                    messageError("未选择日期!请选择~");
                }


            },


            close: function () {
                //关闭弹出层
                x_admin_close("app");
            }
        },

    });//end vue

    function rend(val) {
      //  this.APP.initLabId(val);
    }
</script>

</body>

</html>
